@mixin contacts () {
    display: inline-block;
    width: 100%;
    i {
        display: inline-block;
        padding-top: 5px;
        padding-right: 10px;
    }
    p {
        display: inline-block;
    }
}

footer {
    background-color: $blueColor;
    text-align: center;
    color: white;
    .contact {
        display: inline-block;
        width: 100%;
        margin-top: 25px;
        .adress {
            @include contacts();
        }
        .phone {
            @include contacts();
        }
        .email {
            @include contacts();
        }
    }
    .additional {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        a {
            display: inline-block;
            font-weight: 300;
            font-size: 16px;
            padding: 0 10px;
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: color 0.5s;
            &:hover {
                color: $kelioniuBlack;
            }
        }
        span {
            display: inline-block;
        }
    }
    .info {
        margin-top: 15px;
        padding-bottom: 15px;
    }
}